/* tr {
  border-bottom: 1px solid #e2e8f0;
  width: 100%;
  display: flex;
  flex-direction: row;
}
td,
th {
  padding: 0.5rem 1rem;
  vertical-align: middle;
}
th {
  font-weight: 600;
} */
tr.mat-row.selected {
  background-color: #bee3f8 !important;
}
tr.mat-row.hovered {
  background-color: #ebf8ff !important;
}
tr.mat-row.selected.hovered {
  background-color: rgba(144, 205, 244, 0.8) !important;
}
tr.mat-row.disabled {
  cursor: default;
  background-color: #e2e8f0 !important;
}
