<div class="table-responsive week-table">
<table class="table table-bordered table-hover table-sm unselectable" id="week">
    <thead>
      <tr>
        <th style="width: 10%"></th>
        <th style="width: 18%" scope="col">Pazartesi</th>
        <th style="width: 18%" scope="col">Salı</th>
        <th style="width: 18%" scope="col">Çarşamba</th>
        <th style="width: 18%" scope="col">Perşembe</th>
        <th style="width: 18%" scope="col">Cuma</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">8.30</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">9.30</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">10.30</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">11.30</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">12.30</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">13.30</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">14.30</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">15.30</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">16.30</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>