<div class="container">
  <div class="row my-row">
    <div class="col-sm-12 align-self-center">
      <div class="row justify-content-center mb-3">
        <h4>Plan seçimi (1/3)</h4>
      </div>

      <form [formGroup]="planForm" (ngSubmit)="onSubmit()">
        <select
          formControlName="faculty"
          class="custom-select row justify-content-center"
        >
          <option value="">Fakülte Seçiniz</option>
          <option *ngFor="let faculty of faculties" [value]="faculty.abrv">
            {{ faculty.name }}
          </option>
        </select>

        <div class="row justify-content-center">
          <hr />
        </div>

        <select
          formControlName="subject"
          class="custom-select row justify-content-center"
        >
          <option value="">{{ subjectsState | async }}</option>
          <option
            *ngFor="let subject of subjects | async"
            [value]="subject.abrv"
          >
            {{ subject.name }}
          </option>
        </select>

        <div class="row justify-content-center">
          <hr />
        </div>

        <select
          formControlName="term"
          class="custom-select row justify-content-center"
        >
          <option value="">{{ termState | async }}</option>
          <option *ngFor="let term of terms | async" [value]="term.link">
            {{ term.name }}
          </option>
        </select>

        <div class="row justify-content-center">
          <hr />
        </div>

        <div class="row justify-content-center">
          <button
            routerLink=""
            type="button"
            class="btn btn-danger btn-lg mx-3"
          >
            Geri dön
          </button>
          <button
            (click)="onSubmit()"
            routerLink="/class-select"
            type="submit"
            class="btn btn-primary btn-lg mx-3"
            [disabled]="!planForm.valid"
          >
            Ders seç
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
