<div class="row my-row">
  <div class="col-sm-12 align-self-center">
    <div class="row justify-content-center">
      <h1 class="text-primary">ituprogram.com</h1>
    </div>
    <div class="row justify-content-center">
      <h4 class="text-secondary">Ders programı hazırlama aracı</h4>
    </div>
    <div class="row justify-content-center mb-4">
      <h6 class="text-secondary">Koray Kural</h6>
    </div>
    <div class="row justify-content-center">
      <a routerLink="department">
        <button type="button" class="btn btn-primary btn-lg mt-5">
          Yeni program oluştur
        </button>
      </a>
    </div>
    <div class="row justify-content-center">
      <hr />
    </div>
    <div class="row justify-content-center">
      <a routerLink="login" class="">
        <button type="button" class="btn btn-secondary btn-lg">
          PIN ile devam et
        </button>
      </a>
    </div>
    <div class="row justify-content-center">
      <hr />
    </div>
    <div class="row justify-content-center">
      <a href="https://arsiv.ituprogram.com" target="_blank">
        <button type="button" class="btn btn-secondary btn-lg">
          Wayback Arşivi
        </button>
      </a>
    </div>
    <div class="row justify-content-center">
      <hr />
    </div>
    <div class="row justify-content-center">
      <a href="https://t.me/kontenjanbot" target="_blank">
        <button type="button" class="btn btn-secondary btn-lg">
          Kontenjan - Telegram botu
        </button>
      </a>
    </div>
    <div class="row justify-content-center">
      <hr />
    </div>
    <div class="row justify-content-center">
      <a routerLink="update" class="mb-5"> Veritabanı güncellik durumu </a>
    </div>
  </div>
</div>
