/* You can add global styles to this file, and also import other style files */
input[type="checkbox"] + label {
  cursor: pointer;
}

.nobr {
  white-space: nowrap;
  hyphens: none;
}

.unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
