<app-header [backLink]="'/'"> Program Oluşturma </app-header>
<div
  class="container flex flex-col justify-center"
  style="height: calc(100% - 3rem)"
>
  <h2 class="text-2xl font-medium mb-6">
    Ders planını seçmemişsin gibi görünüyor.
  </h2>
  <div class="w-48 border-b border-gray-400 mb-6"></div>
  <p class="mb-4">
    Program oluşturmaya başlayabilmek için öncelikle
    <a
      class="text-blue-600 hover:text-blue-700 font-semibold"
      routerLink="/personal"
      >Kişisel Bilgilerim</a
    >
    sayfasından ders planını seçmelisin. Buraya geri döndüğünde ilk programını
    oluşturmaya hazır olacaksın.
  </p>
  <p class="mb-6">
    Dilersen
    <a
      target="_blank"
      class="text-blue-600 hover:text-blue-700 font-semibold"
      href="https://ituprogram.com/department"
      >ituprogram.com</a
    >
    uygulamasını tarayıcıdan açarak geçici programlar oluşturabilirsin.
  </p>
</div>
