<td colspan="2" class="pl-8 pr-4 py-2">
  <ng-select
    class="text-sm thin-scrollbar"
    [items]="data.items"
    [bindLabel]="'name'"
    [bindValue]="'name'"
    [searchFn]="itemSearchFn"
    [notFoundText]="'Seçmeli ders bulunamadı'"
    [clearable]="false"
    [placeholder]="data.label"
    [(ngModel)]="selectedCourse"
    (change)="setOptional($event)"
  >
    <ng-template ng-label-tmp let-item="item">
      <div class="flex flex-row items-center">
        <div class="pr-4 w-24">
          {{ item.code }}
        </div>
        <div class="pl-4">
          {{ item.name }}
        </div>
      </div>
    </ng-template>
    <ng-template
      ng-option-tmp
      let-item="item"
      let-index="index"
      let-search="searchTerm"
    >
      <div class="flex flex-row items-center">
        <div class="pr-4 w-24">
          {{ item.code }}
        </div>
        <div class="pl-4">
          {{ item.name }}
        </div>
      </div>
    </ng-template>
  </ng-select>
</td>
<td class="px-4 py-2">
  {{ data.credits }}
</td>
<td class="pr-8 pl-4 py-2 float-right">
  <ng-select
    class="w-20 text-sm thin-scrollbar"
    [items]="grades"
    [bindValue]="'value'"
    [notFoundText]="''"
    [searchable]="false"
    (change)="setGrade($event)"
    [(ngModel)]="data.grade"
  ></ng-select>
</td>
